
.mode{
    border-radius: 20px;
    width: auto;
    border: 2px solid white;
    padding: 15px;
    text-align: center;
    horizontal-align: middle ;
    margin-left: 0;
    margin-right: 0;
}

.alarme{
    border-radius: 20px;
    width: auto;
    border: 2px solid white;
    margin: 15px;
    padding: 15px;
    text-align: center;
    horizontal-align: middle ;
    margin-left: 0;
    margin-right: 0;

}

.température{
    border-radius: 20px;
    width: auto;
    border: 2px solid white;
    padding: 15px;
    margin: 15px;
    text-align: center;
    horizontal-align: middle ;
    margin-left: 0;
    margin-right: 0;
}

h2{
    border-radius: 20px;
    width: auto;
    border: 4px solid black;
    padding: 15px;
    margin: 20px;
    text-align: center;
    horizontal-align: middle ;
}

.lumiere{
    border-radius: 20px;
    width: auto;
    height: 150px;
    border: 2px solid white;
    padding: 15px;
    text-align: center;
    horizontal-align: middle ;
    margin-left: 0;
    margin-right: 0;
}

.volets{
    border-radius: 20px;
    width: auto;
    height: 150px;
    border: 2px solid white;
    padding: 15px;
    margin: 15px;
    text-align: center;
    horizontal-align: middle ;
    margin-left: 0;
    margin-right: 0;

}

#Ouverture{
    width:100px;
    font-family: "PT Sans";
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #00c555;
    color:white;
    border-radius: 10px;
    border: 2px solid #00c555;
    font-size: 13px;
}

#Allumage{
    width:100px;
    font-family: "PT Sans";
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #00c555;
    color:white;
    border-radius: 10px;
    border: 2px solid #00c555;
    font-size: 13px;
}

#température{
    width:100px;
    font-family: "PT Sans";
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #00c555;
    color:white;
    border-radius: 10px;
    border: 2px solid #00c555;
    font-size: 13px;
}

#mode{
    width:100px;
    font-family: "PT Sans";
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #00c555;
    color:white;
    border-radius: 10px;
    border: 2px solid #00c555;
    font-size: 13px;
}




HD{
    display: flex;
    justify-content: space-around;
}

.meteo {
    border-radius: 20px;
    width: auto;
    height: 350px;
    border: 2px solid white;
    padding: 15px;
    margin: 15px;
    text-align: center;
    horizontal-align: middle;
    background-color: white;
    margin-left: 0;
    margin-right: 0;
}

.video {
    border-radius: 20px;
    width: auto;
    height: 350px;
    border: 2px solid white;
    padding: 15px;
    margin: 15px;
    text-align: center;
    horizontal-align: middle;
    overflow: auto;
    margin-left: 0;
    margin-right: 0;
}

.date_heure{
    border-radius: 20px;
    border: 2px solid white;
    width: auto;
    padding: 15px;
    margin: 15px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    horizontal-align: middle;

}

.heure{
    font-size: 30px;
}















/* !!Permet de créer le boutton switch!!*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {display:none;}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: ""; /*Permet de faire apparaître le cercle*/
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #00c555;
}

input:focus + .slider {
    box-shadow: 0 0 1px #00c555;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 32px;
}

.slider.round:before {
    border-radius: 50%;
}
