.faq h1 {
    color:white;
    text-align: center;
    font-family: PT sans;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: xx-large;
}
.faq .question {
    color: #00c555;
    text-align: center;
    font-family: PT sans;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: large;
}
.faq .reponse {
    color: white;
    text-align: center;
    font-family: PT sans;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: large;
    margin:auto 200px;
}

.retour{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boutonRetour {
    background-color: #00c555;
    padding: 5px;
    color:white;
    border-radius: 10px;
    border: 2px solid #00c555;
    font-size: 13px;
}
