.message{
    font-family: "PT Sans";
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
    width: auto;
    border: 2px solid white;
    padding: 15px;
    text-align: center;
    horizontal-align: middle ;
    margin-left: 20%;
    margin-right: 20%;
    margin:10%;
}

.message2{
    font-family: "PT Sans";
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
    width: auto;
    border: 2px solid white;
    padding: 15px;
    text-align: center;
    horizontal-align: middle ;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
}
.retour{
    width:auto;
    font-family: "PT Sans";
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #00c555;
    color:white;
    border-radius: 10px;
    border: 2px solid #00c555;
    font-size: 12px;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.milieu{
    font-family: "PT Sans";
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    text-align: center;
    font-size: 20px;
}

.centrer{
    color: white;
    text-align: center;
    horizontal-align: middle;
}