
section {
    margin: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-left: 15px;
    padding-bottom: 1%;
    width: 85%;
    border: 2px white solid;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);

}

.menusec li {
    padding: 6px;
}

.enCours a {
    text-decoration: none;
    color: #00c555
}

.menusec {
    display: flex;
    font-family: PT sans;
    font-size: 1.5em;
}

.menusec a {
    color: white;
}

.boutonDroit {
    text-align:right;
    justify-content: flex-end;

}

.imagepp {
    margin: 30px 10px;

}

.placement {
    display: flex;
}

.placement p {
    margin: auto 20px;
    font-family: PT sans;
    font-size: 2em;

}

.placement .bouton1 {
    margin-top: 40px;
    margin-left: 100px;

}

.placement #bouton1 {
    width: auto;
    font-family: "PT Sans";
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #00c555;
    color: white;
    border-radius: 10px;
    border: 2px solid #00c555;
    font-size: 13px;
}

.placement .bouton2 {
    margin-top: 10px;
    margin-left: 100px;
}

.placement #bouton2 {
    width: auto;
    font-family: "PT Sans";
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #00c555;
    color: white;
    border-radius: 10px;
    border: 2px solid #00c555;
    font-size: 13px;
}



.placement .boutton {
    flex-direction: column;
    justify-content: flex-end;
    position:absolute;
    right:200px;
}

.formulaire li {
    padding-bottom: 20px;
}


section input[type=submit] {
    width: auto;
    height: 25px;

    font-family: "PT Sans";
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #00c555;
    color: white;
    border-radius: 10px;
    border: 2px solid #00c555;
    font-size: 13px;
}

.aligne {
    margin-top: 0px;
    margin-right: 350px;
    display: inline-block;

}

.aligne2 {
    display: inline-block;
    Vertical-align: top;

}